*{
    padding: 0;
    margin: 0;
}

.container{
    color: #051130;
    width: 100vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.headerMain{
    background-color: #87cefa;
    display: flex;
    justify-content: center;
}

header{
    height: 100px;
    width: 90%;
    display: flex;
    align-items: center;
}

header div ul{
    display: flex;
    list-style-type: none;
    width: 70vw; 
    justify-content: space-between;
    margin-left: 50px;
}

header div ul li{
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

header div ul li:hover{
    background-color: rgba(38, 143, 129, 0.53);
    transition-duration: 1000ms;
    border-radius: 20px;
    padding: 10px;
    animation-delay: 0.5s;
}

main{
    min-height: 85vh;
    width: 100vw;
    background-color: #dedede;
}

main div {
    padding: 50px;
    
}

footer{
    width: 100vw;
    height: 10vh;
    background-color: #87cefa;
}

.switcher {
    min-width: 90px;
    height: 44px;
    background-color: black;
    border-radius: 60px;
    margin-left: auto;
    margin-right: 0.5vw;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;
}


.circleOne{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    margin:0 2px 0 2px;
    position: absolute;
    animation-duration: 1000ms;
    display: block;
}

.circleTwo{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    animation-duration: 1000ms;
    margin-left: 48px;
    position: absolute;
    display: none;
}

.moon img {
    height: 40px;
    width: 40px;
    margin: 4px 0 0 2px;
}

.sun img {
    height: 40px;
    width: 40px;
    margin: 4px 2px 0 0;
}

@keyframes leftToRight {
    
    from{
        transform: translateX(-44px);
    }

    to{
        transform: translateX(0);
    }
}

@keyframes rightToLeft {
    
    from{
        transform: translateX(44px);
    }

    to{
        transform: translateX(0px);
    }
}